<div class="container">
  <div class="row">
      <% @artists.each do |artist| %>
        <div class="artist">
           <img src="<%= artist.picture %>" alt="">
              <p class="name"><%= artist.name %></p>
        </div>

      <% end %>
  </div>
</div>
