<div class="my-navbar">
  <div class="nav-icon">
    <% unless @hide_navbar %>
      <i class="fas fa-bars"></i>
    <% end %>
  </div>

      <%= link_to root_path, class: "navbar-logo text-decoration-none" do %>
        <div class="nav-logo">
          <p>MY MANAGER</p>
        </div>
      <% end %>

  <div class="my-avatar">
    <% if current_user && current_user.avatar.attached? %>
      <%= cl_image_tag current_user.avatar.key, height: 50, width: 50, crop: :fill %>
    <% else %>
      <i class="fas fa-user"></i>
    <% end %>

  </div>
</div>
