<div class="my-navbar">
  <div class="nav-icon">
    <% unless @hide_navbar %>
      <i class="fas fa-bars"></i>
    <% end %>
  </div>

    <div class="nav-logo">
      <%= link_to root_path, class: "navbar-logo" do %>
        <%= image_tag "logomymanager.png" %>
      <% end %>
    </div>


  <div class="my-avatar">
    <img src="https://file1.topsante.com/var/topsante/storage/images/couple-et-sexualite/amour-et-couple/vie-de-couple/amour-comment-reconnaitre-un-homme-amoureux/102208-2-fre-FR/Amour-comment-reconnaitre-un-homme-amoureux.jpg?alias=original" alt="avatar-homme">
  </div>
</div>
