<div class="sidebar">
  <div class="sidebar-header">
    <%= link_to root_path, class: "sidebar-img" do %>
     <p> MyM</p>
    <% end %>
    <%= link_to root_path, class: "sidebar-img-expand" do %>
       <p> MyManager</p>
    <% end %>
  </div>
  <div class="sidebar-items">
    <%= link_to root_path do %>
      <i class="fas fa-home"></i>
      <span class="nav_name">Dashboard</span>
    <% end %>
    <a href="#" class="nav_link">
      <i class="fas fa-user"></i>
      <span class="nav_name">Users</span>
    </a>
    <a href="#" class="nav_link">
      <i class="far fa-envelope"></i>
      <span class="nav_name">Messages</span>
    </a>
    <a href="#" class="nav_link">
      <i class="far fa-bookmark"></i>
      <span class="nav_name">Bookmark</span>
    </a>
    <a href="#" class="nav_link">
      <i class="far fa-file"></i>
      <span class="nav_name">Files</span>
    </a>
    <a href="#graphstats" class="nav_link">
      <i class="fas fa-signal"></i>
      <span class="nav_name">Stats</span>
    </a>
  </div>
  <div class="sidebar-footer">
    <%= link_to destroy_user_session_path, method: :delete do %>
      <i class="fas fa-sign-out-alt"></i>
      <span class="nav_name">SignOut</span>
    <% end %>
  </div>
</div>
