<h1>Albums#show</h1>


 <%= @album.name %>
  <% @album.posts.each do |post| %>
    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <%= post.published_at %>
        </div>
    </div>
<% end %>


