<div class="home-bg">
  <div class="container login-container">
  <h1 class="ml2">THE MAJOR PLATFORMS TO MANAGE YOUR COMMUNITY</h1>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

  <h3> Please connect your Facebook account </h3>
     <%= link_to oauth2_connect_path, class: "facebook_button" do %>
  <i class="fab fa-facebook"></i>
  Connect my account
<% end %>
  </div>
</div>
