<div class="home-bg">
  <div class="container login-container">
  <h1 class="ml2">THE MAJOR PLATFORM TO MANAGE YOUR COMMUNITY</h1>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
     <%= link_to oauth2_connect_path, class: "facebook_button" do %>
  <i class="fab fa-facebook"></i>
  <p> Connect your Facebook account </p>
<% end %>
  </div>
</div>
