<div class="container login-container">
    <h1> Add a post to your list </h1>

            <%= simple_form_for([@artist, @post]) do |f| %>
      <div class="form-inputs">
          <%= f.input :title %>
            <%= f.input :content %>
            <%= f.submit %>
            <% end %>
      </div>
</div>
