.display_calendar_planned {
  display: flex;
  align-items: flex-start;
  align-items: center;
}

.calendar_display {
  width: 100%;
  background-color: white;
  padding: 12px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 5px;
  margin: 0 16px 24px 0;
  height: 594.5px;
}

.card_planned_display {
  justify-content: space-between;
  margin: 2px 16px 2px 16px;
  padding: 12px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 5px;
  flex-direction: column;
  text-align: center;

  a {
    text-decoration: none;
    color: black;
  }
}

.album_campaign {
  justify-content: space-between;
  margin: 24px 16px 24px 16px;
  padding: 12px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 5px;
  flex-direction: column;
  text-align: center;
  overflow: hidden;

  a {
    text-decoration: none;
    color: black;
  }
}

.planned_title {
  color: #000000;
  font-weight: bold;
  text-align: center;
}


.fas.fa-check-circle {
  color: green;
}

.fas.fa-times-circle {
  color: red;
}

.fab.fa-facebook.dashboard {
  color: blue;
}

.size_post {
  font-size: 12px;
}

.simple-calendar {
  .calendar-heading {
    text-align: center;
    margin-bottom: 8px;
    font-weight: bold;
  }
  table {
    border: 4px solid #ff5532;
  }
  a {
    color: black;
  }
  td {
    border: 1px solid #ff5532;
  }
  .table thead th {
    border: 1px solid #ff5532;
    color: #ff5532;
    font-weight: 300;
  }
  .today {
    background-color: rgba(255,85,50,0.2);

  }

  .post {
    color : #125e98;
  }


}

.post_album {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 12px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 5px;
  margin: 0 16px 24px 16px;
  height: 594.5px;
}

.check-icon {
  font-size: 52px;
}

.list-posts {
  display: flex;
  flex-direction: column;
}

.list-posts a:hover {
  color: #ff5532;
}
