.display_calendar_planned {
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;
  grid-gap: 24px;
  margin-bottom: 24px;
}

.calendar_display {
  width: 100%;
  background-color: white;
  padding: 12px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 5px;
  // margin: 0 16px 24px 0;
}

.card_planned_display {
  justify-content: space-between;
  margin: 2px 16px 2px 16px;
  padding: 12px;
  overflow: hidden;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  border-radius: 5px;
  flex-direction: column;
  text-align: center;

  a {
    text-decoration: none;
    color: black;
  }
}

.album_campaign {
  margin: 24px 16px 24px 16px;
  padding: 12px;
  overflow: hidden;
  // background: white;
  background-color: #f2f2f2;
  border-radius: 5px;
  flex-direction: column;
  overflow: hidden;

  a {
    text-decoration: none;
    color: black;
  }
}

.planned_title {
  color: #000000;
  font-weight: bold;
  text-align: center;
}


.fas.fa-check-circle {
  color: green;
}

.fas.fa-times-circle {
  color: red;
}

.fas.fa-clock {
  color: #FFC107;
}

.fas.fa-exclamation-circle {
  color: #FFC107;
}

.fab.fa-facebook.dashboard {
  color: blue;
}

.size_post {
  font-size: 12px;
}

.simple-calendar {

  .calendar-heading {
    text-align: center;
    margin-bottom: 8px;
    font-weight: bold;
  }
  table {
    border: 4px solid #ff5532;
  }
  a {
    color: black;
  }
  td {
    border: 1px solid #ff5532;
  }
  .table thead th {
    border: 1px solid #ff5532;
    color: #ff5532;
    font-weight: 300;
  }
  .today {
    background-color: rgba(255,85,50,0.2);

  }

  .post {
    color : #125e98;
  }


}

.post_album {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 12px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 5px;
  // margin: 0 16px 24px 16px;
  justify-self: stretch;
}

.check-icon {
  font-size: 52px;
}


.display-post-button-modal {
  &:hover {
    text-decoration: underline;
  }
}

.list-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
  background: white;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.5s ease;


  h4 {
    font-weight: 600;
  }

  .artist-name {
    color: #888888;
    margin: 0;
  }

  .badge {
    background-color: #ff5632;
    color: white;
    font-size: 0.8em;
  }

  &:hover {
    background-color: #ff5632;
  }



  &:hover h4 {
    color: white;
  }

  &:hover .artist-name {
    color: white;
  }

  &:hover .badge {
    background-color: #fff;
    color: #6c757d;
  }


}
