// VIEW DASHBOARD
.card_banner_artist {
  justify-content: space-between;
  margin: 24px 16px 24px 16px;
  padding: 12px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 5px;
  flex-direction: column;
  text-align: center;
  font-family: 'Gotham', sans-serif;
}

.pic_artist {
  img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    transition: transform .2s;
    box-shadow: 5px 5px 5px rgba(73, 73, 73, 0.288);
    opacity: 0.33;
  }
  img:hover {
    transform: scale(1.1);
    opacity: 1;
  }
}


.card_position {
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card_artist {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 40px 30px 40px;
}

.title {
  color: #ff5532;
  font-family: 'Gotham', sans-serif;
  padding: 8px;
  font-size: 32px;
}

.artist_name {
  a {
    font-size: 16px;
    font-style: bold;
    color: black;
    text-decoration:none;
  }
}

// VIEW IN ARTIST SHOW
.card_position_show {
  align-content: flex-start;
  display: flex;
}


.pic_artist_show {
  img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgba(73, 73, 73, 0.288);
    display: flex;
    margin-right: 16px;
  }
}


.card_artist_show {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  padding: 15px 20px 10px 40px;
}

.modal_add_event {
  display: flex;
  align-items: center;
  right: 10%;
}

