.facebook_button {
   background: #4267b2;
   border-radius: 5px;
   color: white;
   height: 40px;
   text-align: center;
   width: 250px;
   padding: 16px 24px;
   font-family: 'Gotham', sans-serif;
}
.facebook_button:hover {
  color: white
}
