.facebook_button {
   background: #4267b2;
   border-radius: 20px;
   color: white;
   text-align: center;
   padding: 16px 24px;
   font-family: 'Noto Sans KR', sans-serif;
   font-size: 16px;
   display: flex;
   width: 300px;
   align-items: center;
  p {
    margin: 0;
  }
  .fa-facebook {
    font-size: 48px;
    margin-right: 24px;
    display: inline-block;
    align-items: center;
  }
}
.facebook_button:hover {
  color: white;
  text-decoration: none;
  box-shadow: rgba(100, 100, 111, 0.7) 0px 7px 29px 0px;
}
