#graphstats {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stats {
  background-color: white;
  padding: 12px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 5px;

  p {
    color: #888888;
    font-size: 0.8rem;
  }
}
